.cover__link {
  text-decoration: none;
  color: white;
  display: flex;
  margin: auto;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cover__link:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.3;
}