.place__title {
  font-family: 'Inter Black', Arial, sans-serif;
  grid-area: place__title;
  align-self: end;
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    padding-left: 16px;
  }
}