.page {
    min-width: 1100px;
    /* max-width: 1280px; */
    margin: 0 auto;
    font-family: 'Inter', 'Arial', sans-serif;
    background-color: #2A2C2F;
    -webkit-font-smoothing: antialiased;
}