.photo-grid {
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, 284px);
  grid-auto-rows: 213px;
  gap: 16px;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  box-sizing: border-box;
  padding-bottom: 92px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 14px;
    max-width: 90.625vw;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, 352px);
    gap: 16px;
    max-width: 93.75vw;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, 288px);
    gap: 16px;
    max-width: 93.75vw;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, 288px);
    gap: 12px;
    max-width: 90vw;
  }
}