.footer__items {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;

}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .footer__items {
  }
}

@media screen and (max-width: 320px) {
  .footer__items {
    flex-direction: column;
  }
}