.places {
  color: white;
  margin: auto;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 90.625vw;
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 93.75vw;
  }
}

@media screen and (max-width: 320px) {
  .places {
    max-width: 100%;
  }
}