.place__website-uri-link {
  margin: 0;
  color: #FFFFFF;
  text-decoration: none;
  border-bottom: 1px solid white;
  font-size: 18px;
  line-height: 22px;
  opacity: 1.0;
  transition: opacity 0.5s ease;
}

.place__website-uri-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 320px) {
.place__website-uri-link {
  display: none;
}
}