.cover__subtitle {
  max-width: 360px;
  margin: 0;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  position: relative;
} 

@media screen and (max-width: 320px) {
  .cover__subtitle {
    max-width: 90vw;
    font-size: 14px;
    line-height: 16px;
  } 
}