.place__website-uri-heading {
  margin: 0 0 12px 0;
  color: #AAAAAA;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.2em;
  font-size: 12px;
  line-height: 170%;
}

@media screen and (max-width: 320px) {
.place__website-uri-heading {
  display: none;
}
}