.header__logo {
width: 176px;
height: 52px;
left: 48px;
top: 28px;
}


@media screen and (max-width: 320px) {
.header__logo {
    width: 142px;
    height: 42px;
    left: 48px;
    top: 28px;
    }
}