.header {
  max-width: 1184px;
  margin: auto;
  padding: 28px 48px 56px 48px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .header {
    max-width: 90vw;
    padding: 16px 16px 48px 16px;
  }
}