.header {
    padding: 28px 48px 56px 48px;
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 320px) {
.header {
    max-width: 90vw;
    padding: 16px 16px 48px 16px;
}
}