.lead__title {
  margin: 0;
  padding: 0 0 32px 0;
  max-width: 720px;
  font-family: 'Inter', Arial, sans-serif;
  text-align: center;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    padding: 0 0 16px 0;
  }
}