.footer__copyright {
  color: white;
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    line-height: 14px;
  }
}