.intro {
  display: flex;
  flex-direction: column;
  max-width: 76.875vw;
  color: white;
  margin: auto;
  padding: 92px 0 92px 0;
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: 90.625vw;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 93.75vw;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    max-width: 90vw;
    padding: 64px 0 64px 0;
  }
}