.lead__subtitle {
  max-width: 640px;
  margin: 0;
  padding: 0 0 64px 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;    
  text-align: center;
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .lead__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding: 0 0 40px 0;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding: 0 0 40px 0;
  }
}