.cover {
  margin: auto;
  color: white;
  max-width: 92.5vw;
  height: 740px;
  background: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cover::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #2A2C2F;
  opacity: 0.3;
}

.cover:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    max-width: 100%;
    max-height: 480px;
    background-size: cover;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    max-height: 200px;
  }
}