.footer__item {
    margin: 0;
    list-style-type: none;
    padding-right: 18px;
    font-size: 16px;
    line-height: 18px;
}

@media screen and (max-width: 320px) {
    .footer__item {
        font-size: 24px;
        line-height: 24px;
        padding-bottom: 32px;
    }
}