@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);
@import url(../blocks/header/__list/header__list.css);


@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url(../vendor/fonts/Inter-Bold.woff2) format("woff2"),
       url(../vendor/fonts/Inter-Bold.woff) format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url(../vendor/fonts/Inter-Regular.woff2) format("woff2"),
       url(../vendor/fonts/Inter-Regular.woff) format("woff");
}

.header__list {
  display: inline;
  list-style-type: none;
  margin-left: 18px;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  line-height: 28px;
}

.header__list:hover {
  border-bottom: 1px solid white;
}

.header__lang-link {
  color: #FFFFFF;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.header__link:hover {
  /* opacity: 0.6; */
}

.lead {
  /* max-width: 984px; */
  max-width: 76.875vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.lead__title {
  margin: 0;
  padding: 0 0 32px 0;
  max-width: 720px;
  font-family: 'Inter', sans-serif;
  text-align: center;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
}

.lead__subtitle {
  max-width: 640px;
  margin: 0;
  padding: 0 0 64px 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;    
  text-align: center;
}

.lead__image {
  width: 100%;
}

@media screen and (max-width: 1024px) {

  .lead {
    width: 80%;
  }





}

.lead__caption {
  margin: 0;
  padding: 8px 0 0 0;
  text-transform: uppercase;
  align-self: start;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
}

.intro {
  display: flex;
  flex-direction: column;
  /* width: 984px; */
  /* width: 90%; */
  max-width: 76.875vw;
  color: white;
  margin: auto;
  padding: 92px 0 92px 0;
}

.intro__title {
  display: block;
  max-width: 76.875vw;

  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin: 0;
  padding: 0 0 40px 0;

}

.intro__text {
  display: block;
  margin: 0;
  padding: 0 0 32px 0;
  font-size: 16px;
  line-height: 26px;
  max-width: 690px;
}

.intro__text-items {
  padding: 0;

}
.intro__text-item {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.intro__text__span-accent {
  font-weight: bold;
}

.photo-grid {
  color: white;
  display: grid;
  max-width: 92.5vw;
  grid-template-columns: repeat(auto-fit, 284px);
  grid-template-rows: repeat(3, 213px);
  grid-auto-rows: 213px;
  gap: 16px;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  box-sizing: border-box;
  padding-bottom: 92px;
}

.photo-grid__image {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.places {
  color: white;
  width: 80%;
  margin: auto;
  max-width: 984px;
}

.place {
  display: grid;
  grid-template-columns: 460px minmax(min-content, max-content);
  gap: 48px 40px;
  /* justify-content: center;
  align-content: center; */
  padding-bottom: 80px;
  grid-template-areas:
  "place__title place__website"
  "place__image place__paragraph"
}

.place__title {
  grid-area: place__title;
  align-self: end;
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

.place__image {
  max-width: 100%;
  max-height: 100%;
  /* width: 100%;
  height: 100%; */
  object-fit: cover;
  grid-area: place__image
}

.place__website {
  grid-area: place__website;
  align-self: end;
}

.website__uri-heading {
  margin: 0 0 12px 0;
  color: #AAAAAA;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.2em;
  font-size: 12px;
  line-height: 170%;

}

.website__uri-link {
  margin: 0;
  color: #FFFFFF;
  text-decoration: none;
  border-bottom: 1px solid white;
  font-size: 18px;
  line-height: 22px;
}

.place__paragraph {
  grid-area: place__paragraph;  
  margin: 0;
  padding-bottom: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.cover {
  margin: auto;
  color: white;
  max-width: 92.5vw;
  height: 740px;
  background: url(../images/cover-trains.jpg);
  width: 100%;
  /* box-sizing: border-box; */
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cover::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #2A2C2F;
  opacity: 0.3;
}

.cover:hover::before {
  opacity: 0.8;
}

.cover__title {
  max-width: 560px;
  margin: 0 0 32px 0;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  position: relative;
}

.cover__subtitle {
  max-width: 360px;
  margin: 0;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  position: relative;
} 

.footer {
  margin: auto;
  max-width: 92.5vw;
  width: 95%;
  padding: 92px 0 24px 0;
  display: flex;
  justify-content: space-between;
}

.footer__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-right: 18px;
  font-size: 16px;
  line-height: 18px;
}

.footer__link {
  color: #FFFFFF;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.footer__copyright {
  color: white;
  margin: 0;
}

/* @import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__subtitle/header__subtitle.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__main-illustration/header__main-illustration.css);
@import url(../blocks/header/__square-pic/header__square-pic.css);
@import url(../blocks/logo/_place/logo_place_header.css);
@import url(../blocks/logo/_place/logo_place_footer.css);
@import url(../blocks/description/description.css);
@import url(../blocks/two-columns/two-columns.css);
@import url(../blocks/two-columns/__brief/two-columns__brief.css);
@import url(../blocks/two-columns/__main-text/two-columns__main-text.css);
@import url(../blocks/two-columns/__paragraph/two-columns__paragraph.css);
@import url(../blocks/two-columns/__span-accent/two-columns__span-accent.css);
@import url(../blocks/techniques/techniques.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/cards/__item/cards__item.css);
@import url(../blocks/cards/__image/cards__image.css);
@import url(../blocks/cards/__title/cards__title.css);
@import url(../blocks/cards/__description/cards__description.css);
@import url(../blocks/section-title/section-title.css);
@import url(../blocks/section-title/_theme/section-title_theme_dark.css);
@import url(../blocks/section-subtitle/section-subtitle.css);
@import url(../blocks/section-subtitle/_theme/section-subtitle_theme_dark.css);
@import url(../blocks/video/video.css);
@import url(../blocks/video/__iframes/video__iframes.css);
@import url(../blocks/video/__iframe/video__iframe.css);
@import url(../blocks/oakley/oakley.css);
@import url(../blocks/feynman/feynman.css);
@import url(../blocks/feynman/__title/feynman__title.css);
@import url(../blocks/feynman/__subtitle/feynman__subtitle.css);
@import url(../blocks/feynman/__link/feynman__link.css);
@import url(../blocks/feynman/__image/feynman__image.css);
@import url(../blocks/digits/digits.css);
@import url(../blocks/table/table.css);
@import url(../blocks/table/__cell/table__cell.css);
@import url(../blocks/table/__heading/table__heading.css);
@import url(../blocks/table/__text/table__text.css);
@import url(../blocks/table/_theme/table_theme_dark.css);
@import url(../blocks/table/__cell/_theme/table__cell_theme_dark.css);
@import url(../blocks/table/__heading/_theme/table__heading_theme_dark.css);
@import url(../blocks/table/__text/_theme/table__text_theme_dark.css);
@import url(../blocks/khan/khan.css);
@import url(../blocks/khan/__author/khan__author.css);
@import url(../blocks/khan/__title/khan__title.css);
@import url(../blocks/khan/__quote/khan__quote.css);
@import url(../blocks/khan/__quote-author/khan__quote-author.css);
@import url(../blocks/khan/__quote-author-subline/khan__quote-author-subline.css);
@import url(../blocks/khan/__book-container/khan__book-container.css);
@import url(../blocks/khan/__book-pic/khan__book-pic.css);
@import url(../blocks/khan/__buy-link/khan__buy-link.css);
@import url(../blocks/kaufman/kaufman.css);
@import url(../blocks/kaufman/__triangle/kaufman__triangle.css);
@import url(../blocks/rotation/rotation.css);
@import url(../blocks/resources/resources.css);
@import url(../blocks/resources/__logo-zone/resources__logo-zone.css);
@import url(../blocks/resources/__logo/resources__logo.css);
@import url(../blocks/resources/__link/resources__link.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__columns/footer__columns.css);
@import url(../blocks/footer/__author/footer__author.css);
@import url(../blocks/footer/__column-heading/footer__column-heading.css);
@import url(../blocks/footer/__column-links/footer__column-links.css);
@import url(../blocks/footer/__column-link/footer__column-link.css);
@import url(../blocks/footer/__social-icon/footer__social-icon.css);
@import url(../blocks/footer/__column/_content/footer__column_content_copyright.css); */