.cover__title {
  font-family: 'Inter Black', Arial, sans-serif;
  max-width: 560px;
  margin: 0 0 32px 0;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  position: relative;
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .cover__title {
    max-width: 90vw;
    margin: 0 0 16px 0;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    max-width: 90vw;
    margin: 0 0 16px 0;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
  }
}