.footer__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-right: 18px;
  font-size: 16px;
  line-height: 18px;
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .footer__list {
    flex-direction: column;
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 320px) {
  .footer__list {
    flex-direction: column;
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 32px;
  }
}