.place {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 460px minmax(min-content, max-content);
  gap: 48px 40px;
  padding-bottom: 80px;
  grid-template-areas:
  "place__title place__website"
  "place__image place__paragraph";
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px minmax(min-content, max-content);
    gap: 48px 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place {
    grid-template-columns: 340px minmax(min-content, max-content);
    gap: 48px 28px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .place {
    grid-template-columns: 100%;
    gap: 32px;
    padding-bottom: 64px;
    grid-template-areas:
    "place__title"
    "place__website"
    "place__image"
    "place__paragraph";
  }
}