.footer {
  margin: auto;
  max-width: 92.5vw;
  width: 95%;
  padding: 92px 0 24px 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 93.75vw;
    padding: 88px 0 24px 0;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .footer {
    max-width: 90vw;
    padding: 64px 0 24px 0;
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 90vw;
    padding: 64px 0 24px 0;
    flex-direction: column;
  }
}