.header__list {
    display: inline;
    list-style-type: none;
    margin-left: 18px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    line-height: 28px;
}

.header__list:hover {
    border-bottom: 1px solid white;
}