.header__list {
    display: flex;
    list-style-type: none;
    margin-left: 18px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    line-height: 28px;
}

@media screen and (max-width: 320px) {
  .header__list {
    margin-left: 18px;
    font-size: 18px;
    line-height: 24px;
  }
}