.intro__title {
  font-family: 'Inter Black', Arial, sans-serif;
  display: block;
  max-width: 76.875vw;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin: 0;
  padding: 0 0 40px 0;
}

@media screen and (max-width: 320px) { 
  .intro__title {
    max-width: 90vw;
    font-size: 32px;
    line-height: 35px;
    padding: 0 0 40px 0;
  }
}